#{extends 'main.html' /}
#{set title:'Formulário' /}

#{if p}
	#{set title:'Edição de postagem' /}
#{/if}
#{else}
	#{set title:'Cadastro de postagem' /}
#{/else}
<form action="@{Postagens.salvar}">
<input type="hidden" name="post.id" value="${p?.id}" />

<label>Título:</label>
<input type="text" name="post.titulo" value="${p?.titulo}"> </br>

<label>Conteúdo:</label>
<input type="text" name="post.conteudo" value="${p?.conteudo}"> </br>

<label>Autor:</label>
<input type="text" name="post.autor" value="${p?.autor}"> </br>

<label>Data:</label>
<input type="date" name="post.data" value="${p?.data}"> </br>
</hr>	


<input class="btn btn-primary" type="submit" value="${p? 'Editar':'Cadastrar'}" />
</form>